@import './index.css';

.header-icon {
  background-color: var(--blue__dimmed);
}

.line-container > div {
  background-color: var(--blue);
}

.estimate {
  color: var(--green);
}

.range-button {
  background-color: white;
  color: var(--black);
  transition: all 0.2s ease;
}

.range-button:hover:not(.range-button__active) {
  background-color: var(--blue__dimmed);
}

.range-button__active {
  position: relative;
  background-color: var(--blue);
  color: white;
  z-index: 1;
}
