:root {
  --black: rgb(37, 40, 42);
  --gray: rgb(235,235,235);
  --blue: rgb(0, 133, 167);
  --blue__dimmed: rgba(63, 131, 165, 0.075);
  --green: rgb(66, 168, 160);
  --green__dimmed: rgba(66, 168, 160, 0.075);
  --red: rgb(201, 42, 82);
  --red: rgba(201, 42, 82, 0.075);
}